<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StartTrek - Balancer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center align-items-center">

  <div class="card">
    <div class="card-header">
      Balancer Injectors
    </div>
    <div class="card-body">
      <div action="">
        <div class="mb-3">
          <app-slider-component (eventNumber)="getNumberRangeA($event)" [titleName]="'Damage A'"></app-slider-component>
        </div>
        <div class="mb-3">
          <app-slider-component (eventNumber)="getNumberRangeB($event)" [titleName]="'Damage B'" ></app-slider-component>
        </div>
        <div class="mb-3">
          <app-slider-component (eventNumber)="getNumberRangeC($event)" [titleName]="'Damage C'"></app-slider-component>
        </div>
        <div>
          <label for="inputNumber" class="form-label"> Velocity</label>
          <input type="number"  min="0" max="200" step="1"  value="0" class="form-control"  [(ngModel)]="speedLight">
        </div>
        <div  class="d-grid gap-2 pt-3">
          <button type="submit" (click)="sendData()" class="btn btn-primary">Send</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Stream</th>
      <th scope="col">Time Operative</th>
      <th scope="col">speedLight</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{dataResponse.streams}}</td>
      <td>{{dataResponse.operativeTime}}</td>
      <td>{{dataResponse.speedLight}}</td>
      <td>{{dataResponse.message}}</td>
    </tr>
  </tbody>
</table>


